<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.basis.dao.SysCategoryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.basis.entity.SysCategory">
        <id column="category_id" property="categoryId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="category_num" property="categoryNum"/>
        <result column="category_name" property="categoryName"/>
        <result column="parent_id" property="parentId"/>
        <result column="category" property="category"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id, category_num, category_name, parent_id, category, status, del_flag, create_by, create_time, update_by, update_time,remark
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_category
        <where>
            category=#{category} and del_flag = '0'
            <if test="categoryNum!=null and categoryNum!=''">and category_num like
                concat(concat('%',#{categoryNum}),'%')
            </if>
            <if test="categoryName!=null and categoryName!=''">and category_name like
                concat(concat('%',#{categoryName}),'%')
            </if>
            <if test="status!=null and status!=''">and status=#{status}</if>
        </where>
    </select>

</mapper>
