<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.system.dao.SysDeptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.system.entity.SysDept">
        <id column="dept_id" property="deptId"/>
        <result column="dept_num" property="deptNum"/>
        <result column="dept_name" property="deptName"/>
        <result column="parent_id" property="parentId"/>
        <result column="dept_type" property="deptType"/>
        <result column="leader" property="leader"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="status" property="status"/>
        <result column="address" property="address"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="ancestors" property="ancestors"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ancestors,dept_id, dept_num, dept_name, parent_id, dept_type, leader, phone, email, status,address, del_flag, create_by, create_time, update_by, update_time
    </sql>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dept
        <where>
            and del_flag = '0'
            <if test="deptNum!=null and deptNum!=''">and dept_num like concat(concat('%',#{deptNum}),'%')</if>
            <if test="deptName!=null and deptName!=''">and dept_name like concat(concat('%',#{deptName}),'%')</if>
            <if test="status!=null and status!=''">and status=#{status}</if>
            <if test="deptType!=null and deptType!=''">and dept_type=#{deptType}</if>
            or find_in_set(dept_id,
            (
            select group_concat(ancestors) from sys_dept
            <where>
                <if test="deptNum!=null and deptNum!=''">and dept_num like concat(concat('%',#{deptNum}),'%')</if>
                <if test="deptName!=null and deptName!=''">and dept_name like concat(concat('%',#{deptName}),'%')</if>
                <if test="status!=null and status!=''">and status=#{status}</if>
                <if test="deptType!=null and deptType!=''">and dept_type=#{deptType}</if>
            </where>
            ))
        </where>
        order by create_id desc
    </select>

</mapper>
