<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.warehouse.dao.SysInventoryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.warehouse.entity.SysInventory">
        <id column="inventory_id" property="inventoryId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="adjustment_id" property="adjustmentId"/>
        <result column="warehouse_num" property="warehouseNum"/>
        <result column="warehouse_name" property="warehouseName"/>
        <result column="status" property="status"/>
        <result column="inventory_time" property="inventoryTime"/>
        <result column="personnel_id" property="personnelId"/>
        <result column="personnel_name" property="personnelName"/>
        <result column="audit_by" property="auditBy"/>
        <result column="audit_time" property="auditTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            create_by,
            create_time,
            update_by,
            update_time,adjustment_id,
        inventory_id, warehouse_id, warehouse_num, warehouse_name, status, inventory_time, personnel_id, personnel_name, audit_by, audit_time, remark
    </sql>

</mapper>
