<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.basis.dao.SysMaterielModelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.basis.entity.SysMaterielModel">
        <id column="pk_id" property="pkId"/>
        <result column="m_id" property="mId"/>
        <result column="model_name" property="modelName"/>
        <result column="price" property="price"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk_id,m_id, model_name,price
    </sql>
    <select id="findModelNames" resultMap="BaseResultMap">
        select pk_id,model_name,price
        from sys_materiel_model
        where m_id=#{id}
    </select>

</mapper>
