<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.basis.dao.SysMaterielDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.basis.entity.SysMateriel">
        <id column="materiel_id" property="materielId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="materiel_num" property="materielNum"/>
        <result column="materiel_name" property="materielName"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_num" property="categoryNum"/>
        <result column="category_name" property="categoryName"/>
        <result column="specification" property="specification"/>
        <result column="need_torque" property="needTorque"/>
        <result column="out_torque" property="outTorque"/>
        <result column="units_id" property="unitsId"/>
        <result column="units_num" property="unitsNum"/>
        <result column="units_name" property="unitsName"/>
        <result column="price" property="price"/>
        <result column="max_price" property="maxPrice"/>
        <result column="min_price" property="minPrice"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="modelName" property="modelName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        materiel_id, materiel_num, materiel_name, category_id, specification, need_torque, out_torque, units_id, price, max_price, min_price, status, del_flag,create_time, create_by, update_time, update_by, remark
    </sql>

    <select id="page" resultMap="BaseResultMap">
        select
        m.materiel_id, m.materiel_num, m.materiel_name, m.category_id, m.specification, m.need_torque, m.out_torque,
        m.units_id, m.price, m.max_price, m.min_price, m.status, m.del_flag,m.create_time, m.create_by, m.update_time,
        m.update_by, m.remark,
        m.units_num,m.units_name,
        c.category_num,c.category_name,group_concat(mm.model_name) modelName
        from sys_materiel m
        left join sys_category c on c.category_id=m.category_id and c.category='0'
        left join sys_materiel_model mm on mm.m_id=m.materiel_id
        <where>
            m.del_flag='0'
            <if test="mat.materielNum!=null and mat.materielNum!=''">and m.materiel_num like
                concat(concat('%',#{mat.materielNum}),'%')
            </if>
            <if test="mat.materielName!=null and mat.materielName!=''">and m.materiel_name like
                concat(concat('%',#{mat.materielName}),'%')
            </if>
            <if test="mat.status!=null and mat.status!=''">and m.status=#{mat.status}</if>
            <if test="mat.categoryId!=null and mat.categoryId!=''">and m.category_id=#{mat.categoryId}</if>
            <if test="mat.unitsId!=null and mat.unitsId!=''">and m.units_id=#{mat.unitsId}</if>
        </where>
        group by m.materiel_id order by m.create_time desc
    </select>

    <select id="get" resultMap="BaseResultMap">
        select
        m.materiel_id, m.materiel_num, m.materiel_name, m.category_id, m.specification, m.need_torque, m.out_torque, m.units_id, m.price, m.max_price, m.min_price, m.status, m.remark,
        m.units_num,m.units_name,
        c.category_num,c.category_name,group_concat(mm.model_name) modelName
        from sys_materiel m
        left join sys_category c on c.category_id=m.category_id and c.category='0'
        left join sys_materiel_model mm on mm.m_id=m.materiel_id
        where m.materiel_id=#{materielId} and m.del_flag='0'
        group by m.materiel_id
    </select>
    <select id="list" resultType="com.dc.common.vo.MaterielVo">
        select
        m.materiel_id, m.materiel_num, m.materiel_name, m.specification, m.need_torque, m.out_torque, m.price,
        m.units_id,m.units_num,m.units_name,c.category_id,c.category_num,c.category_name, mm.model_name, mm.pk_id
        from sys_materiel m
        left join sys_materiel_model mm on mm.m_id=m.materiel_id
        left join sys_category c on c.category_id=m.category_id and c.category='0'
        <where>
            m.del_flag='0' and m.status='0' and mm.model_name is not null
            <if test="mat.materielNum!=null and mat.materielNum!=''">m.materiel_num like
                concat(concat('%',#{mat.materielNum}),'%')
            </if>
            <if test="mat.materielName!=null and mat.materielName!=''">or m.materiel_name like
                concat(concat('%',#{mat.materielName}),'%')
            </if>
            <if test="mat.categoryId!=null and mat.categoryId!=''">and c.category_id=#{mat.categoryId}</if>
        </where>
        order by m.create_time desc
    </select>
    <select id="findMateriel" resultType="com.dc.common.vo.MaterielVo">
        select
        m.materiel_id, m.materiel_num, m.materiel_name, m.specification, m.need_torque, m.out_torque, m.price,
        mm.model_name
        from sys_materiel m
        left join sys_materiel_model mm on mm.m_id=m.materiel_id
        <where>
            m.del_flag='0' and m.status='0'
            <if test="materielNum!=null and materielNum!=''">and m.materiel_num=#{materielNum}</if>
            <!--<if test="materielName!=null and materielName!=''">and m.materiel_name=#{materielName}</if>-->
            <if test="modelName!=null and modelName!=''">and mm.model_name=#{modelName}</if>
        </where>
    </select>


    <resultMap id="oneItemResultMap" type="com.dc.project.open.vo.ItemVo">
        <id column="materiel_id" property="itemId"/>
        <result column="materiel_name" property="itemName"/>
        <result column="specification" property="specification"/>
        <result column="price" property="price"/>
        <result column="max_price" property="maxPrice"/>
        <result column="min_price" property="minPrice"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <collection property="modelNames" column="materiel_id"
                    select="com.dc.project.basis.dao.SysMaterielModelDao.findModelNames"/>
        <collection property="urls" column="materiel_id"
                    select="com.dc.project.basis.dao.SysMaterielFileDao.findMaterielUrl"/>
    </resultMap>
    <resultMap id="listItemResultMap" type="com.dc.project.open.vo.ItemVo">
        <id column="materiel_id" property="itemId"/>
        <result column="materiel_name" property="itemName"/>
        <result column="specification" property="specification"/>
        <result column="price" property="price"/>
        <result column="max_price" property="maxPrice"/>
        <result column="min_price" property="minPrice"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <collection property="modelNames" column="materiel_id"
                    select="com.dc.project.basis.dao.SysMaterielModelDao.findModelNames"/>
        <collection property="modelNames" column="materiel_id"
                    select="com.dc.project.basis.dao.SysMaterielModelDao.findModelNames"/>
        <collection property="urls" column="materiel_id"
                    select="com.dc.project.basis.dao.SysMaterielFileDao.findMaterielUrl"/>
    </resultMap>
    <select id="listItem" resultMap="listItemResultMap">
        select
        m.materiel_id, m.materiel_num, m.materiel_name, m.specification, m.need_torque, m.out_torque, m.price,m.max_price, m.min_price,
        c.category_id,c.category_num,c.category_name,
        ( select url from sys_materiel_file where materiel_id=m.materiel_id order by pk_id asc limit 1) url
        from sys_materiel m
        left join sys_category c on c.category_id=m.category_id and c.category='0'
        where m.del_flag='0' and m.status='0'
        order by m.materiel_id desc
    </select>

    <select id="detailItem" resultMap="oneItemResultMap">
        select
        m.materiel_id, m.materiel_num, m.materiel_name, m.specification, m.need_torque, m.out_torque, m.price,m.max_price, m.min_price,
        c.category_id,c.category_name
        from sys_materiel m
        left join sys_category c on c.category_id=m.category_id and c.category='0'
        where m.del_flag='0' and m.status='0'
        and m.materiel_id=#{id}
        order by m.materiel_id desc
    </select>
    <select id="listItemByCategoryId" resultMap="listItemResultMap">
        select
        m.materiel_id, m.materiel_num, m.materiel_name, m.specification, m.need_torque, m.out_torque, m.price,m.max_price, m.min_price,
        c.category_id,c.category_num,c.category_name,
        ( select url from sys_materiel_file where materiel_id=m.materiel_id order by pk_id asc limit 1) url
        from sys_materiel m
        left join sys_category c on c.category_id=m.category_id and c.category='0'
        where m.del_flag='0' and m.status='0'
        and m.category_id=#{categoryId}
        order by m.materiel_id desc
    </select>

</mapper>
