<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.purchase.dao.SysPurchaseOrderSubDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.purchase.entity.SysPurchaseOrderSub">
        <id column="order_sub_id" property="orderSubId"/>
        <result column="order_id" property="orderId"/>
        <result column="materiel_id" property="materielId"/>
        <result column="materiel_num" property="materielNum"/>
        <result column="materiel_name" property="materielName"/>
        <result column="specification" property="specification"/>
        <result column="model_name" property="modelName"/>
        <result column="need_torque" property="needTorque"/>
        <result column="out_torque" property="outTorque"/>
        <result column="units_id" property="unitsId"/>
        <result column="units_name" property="unitsName"/>
        <result column="price" property="price"/>
        <result column="number" property="number"/>
        <result column="total_price" property="totalPrice"/>
        <result column="has_sign_num" property="hasSignNum"/>
        <result column="has_storage_num" property="hasStorageNum"/>
        <result column="has_return_num" property="hasReturnNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_sub_id, order_id, materiel_id, materiel_num, materiel_name, specification, model_name, need_torque, out_torque, units_id, units_name, price, number, total_price, has_sign_num, has_storage_num, has_return_num
    </sql>
    <select id="listOrderSubs" resultType="com.dc.project.purchase.entity.SysPurchaseOrderSub">
        select
        order_sub_id, order_id, materiel_id, materiel_num, materiel_name, specification, model_name, need_torque,
        out_torque, units_id, units_name, price, number, total_price,
        (IFNULL(has_sign_num,0)+IFNULL(has_storage_num,0)) as has_sign_num, has_return_num
        from sys_purchase_order_sub
        where order_id = #{orderId} and IFNULL(number,0) > (IFNULL(has_sign_num,0)+IFNULL(has_storage_num,0))
        order by order_sub_id asc
    </select>

</mapper>
