<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.purchase.dao.SysPurchaseSignDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.purchase.entity.SysPurchaseSign">
        <id column="sign_id" property="signId"/>
        <result column="create_id" property="createId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="sign_num" property="signNum"/>
        <result column="sign_time" property="signTime"/>
        <result column="order_id" property="orderId"/>
        <result column="order_num" property="orderNum"/>
        <result column="order_time" property="orderTime"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="supplier_num" property="supplierNum"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="personnel_id" property="personnelId"/>
        <result column="personnel_name" property="personnelName"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="leader" property="leader"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="mobilephone" property="mobilephone"/>
        <result column="address" property="address"/>
        <result column="audit_by" property="auditBy"/>
        <result column="audit_time" property="auditTime"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="warehouse_num" property="warehouseNum"/>
        <result column="warehouse_name" property="warehouseName"/>
        <result column="storage_time" property="storageTime"/>
        <result column="storage_status" property="storageStatus"/>
        <result column="audit_status" property="auditStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            create_id,
            create_by,
            create_time,
            update_by,
            update_time,
        sign_id, sign_num, sign_time, order_id, order_num, order_time, supplier_id, supplier_num, supplier_name, personnel_id, personnel_name, status, remark, leader, email, phone, mobilephone, address, audit_by, audit_time, warehouse_id, warehouse_num, warehouse_name, storage_time, storage_status, audit_status
    </sql>

</mapper>
