<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.finance.dao.SysReceivableDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.finance.entity.SysReceivable">
        <id column="receivable_id" property="receivableId"/>
        <result column="create_id" property="createId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="receivable_num" property="receivableNum"/>
        <result column="clientele_id" property="clienteleId"/>
        <result column="clientele_num" property="clienteleNum"/>
        <result column="clientele_name" property="clienteleName"/>
        <result column="status" property="status"/>
        <result column="total_price" property="totalPrice"/>
        <result column="finance_time" property="financeTime"/>
        <result column="taxamount" property="taxamount"/>
        <result column="taxrate" property="taxrate"/>
        <result column="invoice" property="invoice"/>
        <result column="order_num" property="orderNum"/>
        <result column="order_time" property="orderTime"/>
        <result column="shipments_num" property="shipmentsNum"/>
        <result column="shipments_time" property="shipmentsTime"/>
        <result column="signback_num" property="signbackNum"/>
        <result column="signback_time" property="signbackTime"/>
        <result column="audit_by" property="auditBy"/>
        <result column="audit_time" property="auditTime"/>
        <result column="has_verifica_price" property="hasVerificaPrice"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            create_id,
            create_by,
            create_time,
            update_by,
            update_time,
        receivable_id, receivable_num, clientele_id, clientele_num, clientele_name, status, total_price, finance_time, taxamount, taxrate, invoice, order_num, order_time, shipments_num, shipments_time, signback_num, signback_time, audit_by, audit_time
    </sql>
    <select id="getReceivePrice" resultType="java.math.BigDecimal">
        select
        IFNULL(sum(total_price),0)-IFNULL(sum(has_verifica_price),0)
        from sys_receivable
        where clientele_id=#{clienteleId} and status=#{status}
    </select>
    <select id="getClienteleReceivable" resultType="com.dc.project.finance.entity.SysReceivable">
    select
    receivable_id, receivable_num, total_price, finance_time, order_num, order_time, shipments_num, shipments_time, signback_num, signback_time,has_verifica_price
    from sys_receivable
    where clientele_id=#{clienteleId} and status=#{status}
    and total_price != has_verifica_price
    order by create_time asc
    </select>

    <select id="getClienteleReceivableList" resultType="com.dc.project.finance.entity.SysReceivable">
        select
        receivable_id, receivable_num, total_price, finance_time, order_num, order_time, shipments_num, shipments_time,
        signback_num, signback_time,has_verifica_price
        from sys_receivable
        <where>
            <if test="clienteleId!=null and clienteleId!=''">
                clientele_id=#{clienteleId}
            </if>
            <if test="orderNum!=null and orderNum!=''">
                and order_num=#{orderNum}
            </if>
            <if test="status!=null and status!=''">and status=#{status}</if>
        </where>
        order by create_time asc
    </select>

</mapper>
