<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.sales.dao.SysShipmentsSubDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.sales.entity.SysShipmentsSub">
        <id column="sub_id" property="subId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="shipments_id" property="shipmentsId"/>
        <result column="materiel_id" property="materielId"/>
        <result column="materiel_num" property="materielNum"/>
        <result column="materiel_name" property="materielName"/>
        <result column="specification" property="specification"/>
        <result column="model_name" property="modelName"/>
        <result column="need_torque" property="needTorque"/>
        <result column="out_torque" property="outTorque"/>
        <result column="units_id" property="unitsId"/>
        <result column="units_name" property="unitsName"/>
        <result column="price" property="price"/>
        <result column="number" property="number"/>
        <result column="demand" property="demand"/>
        <result column="shipment_num" property="shipmentNum"/>
        <result column="outbound_num" property="outboundNum"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            create_by,
            create_time,
            update_by,
            update_time,
        sub_id, shipments_id, materiel_id, materiel_num, materiel_name, specification, model_name, need_torque, out_torque, units_id, units_name, price, number, demand, shipment_num, outbound_num
    </sql>

</mapper>
