<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.warehouse.dao.SysStorageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.warehouse.entity.SysStorage">
        <id column="storage_id" property="storageId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="warehouse_num" property="warehouseNum"/>
        <result column="warehouse_name" property="warehouseName"/>
        <result column="source_type" property="sourceType"/>
        <result column="status" property="status"/>
        <result column="source_company" property="sourceCompany"/>
        <result column="storage_time" property="storageTime"/>
        <result column="personnel_id" property="personnelId"/>
        <result column="personnel_name" property="personnelName"/>
        <result column="remark" property="remark"/>
        <result column="audit_by" property="auditBy"/>
        <result column="audit_time" property="auditTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            create_by,
            create_time,
            update_by,
            update_time,status,
            audit_by,
            audit_time,
        storage_id, warehouse_id, warehouse_num, warehouse_name, source_type, source_company, storage_time, personnel_id, personnel_name, remark
    </sql>

</mapper>
