<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.project.warehouse.dao.SysWarehouseInitDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.project.warehouse.entity.SysWarehouseInit">
        <id column="warehouse_id" property="warehouseId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="warehouse_num" property="warehouseNum"/>
        <result column="warehouse_name" property="warehouseName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            create_by,
            create_time,
        warehouse_id, warehouse_num, warehouse_name
    </sql>

</mapper>
